<section class="author" itemprop="author">
    <div class="details" itemscope itemtype="http://schema.org/Person">
        <img itemprop="image" class="img-rounded" src="/assets/img/blog-author.jpg" alt="Anton Cabon">
        <p class="def">Author</p>
        <h3 class="name">
            <a itemprop="name" href="http://github.com/antoncabon">Anton Cabon</a>
        </h3>
        <p class="desc"><span itemprop="jobTitle">Estate Manager</span></p>
        <a class="email" href="https://github.com/antoncabon">github.com/antoncabon</a>
    </div>
</section>
